Repository jakobemilandersson/GameOff2021, pull requests merged in 2021-11, with the labels that each got.

#20 Fix stamina recharge and extra jump on fall
  Assets/StarterAssets/FirstPersonController/Scenes/Playground.unity
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
Labels: enhancement, question

#21 Sprint fatigue
  Assets/StarterAssets/FirstPersonController/Scenes/Playground.unity
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
Labels: enhancement, Player/Enemy

#22 Sprinting gui bar
  Assets/StarterAssets/FirstPersonController/Scenes/Playground.unity
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
Labels: enhancement, Player/Enemy

#19 Add Ammo system to shoot
  Assets/Effects/Prefabs/Plasma bullet.prefab
  Assets/Models/Player/Player Hands.fbx.meta
  Assets/Models/Player/PlayerHands Animator.controller
  Assets/Scripts/Combat/FireWeapon.cs
  ProjectSettings/InputManager.asset
Labels: enhancement, Player/Enemy

#23 Simple enemy ai
  Assets/Materials/EnemyRed.mat
  Assets/Materials/EnemyRed.mat.meta
  Assets/Prefabs.meta
  Assets/Prefabs/Enemy.prefab
  Assets/Prefabs/Enemy.prefab.meta
  Assets/Scripts/Combat/Enemy AI.meta
  Assets/Scripts/Combat/Enemy AI/SimpleEnemyAI.cs
  Assets/Scripts/Combat/Enemy AI/SimpleEnemyAI.cs.meta
  Assets/Scripts/Combat/Enemy.cs
  Assets/Scripts/Managers.meta
  Assets/Scripts/Managers/SpawnManager.cs
  Assets/Scripts/Managers/SpawnManager.cs.meta
  Assets/StarterAssets/FirstPersonController/Scenes/Playground.unity
  Assets/StarterAssets/FirstPersonController/Scenes/Playground/NavMesh-NavMeshManager.asset
  Assets/StarterAssets/FirstPersonController/Scenes/Playground/NavMesh-NavMeshManager.asset.meta
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/NavMeshAreas.asset
  ProjectSettings/TagManager.asset
Labels: enhancement, Player/Enemy

#24 Basic settings screen
  Assets/Scenes/MenuScreen.unity
  Assets/Scenes/SettingsScene.unity
  Assets/Scenes/SettingsScene.unity.meta
  Assets/Scripts/Enums.cs
  Assets/Scripts/Enums.cs.meta
  Assets/Scripts/Menu/SettingsUI.cs
  Assets/Scripts/Menu/SettingsUI.cs.meta
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
  ProjectSettings/EditorBuildSettings.asset
  UserSettings/EditorUserSettings.asset
Labels: enhancement, UI

#26 Add SMC Pack for crosshair on screen.
  Assets/SMC Pack 1.meta
  Assets/SMC Pack 1/Pack.meta
  Assets/SMC Pack 1/Pack/1.png
  Assets/SMC Pack 1/Pack/1.png.meta
  Assets/SMC Pack 1/Pack/2.png
  Assets/SMC Pack 1/Pack/2.png.meta
  Assets/SMC Pack 1/Pack/3.png
  Assets/SMC Pack 1/Pack/3.png.meta
  Assets/SMC Pack 1/Pack/4.png
  Assets/SMC Pack 1/Pack/4.png.meta
  Assets/SMC Pack 1/ReadMe!.jpg
  Assets/SMC Pack 1/ReadMe!.jpg.meta
  Assets/StarterAssets/FirstPersonController/Scenes/Playground.unity
  UserSettings/EditorUserSettings.asset
Labels: enhancement, UI, Player/Enemy

#38 Paus menu
  Assets/Scripts/Combat/FireWeapon.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Managers/GameManager.cs.meta
  Assets/StarterAssets/FirstPersonController/Prefabs/PlayerCapsule.prefab
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundWithPausMenu.unity
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundWithPausMenu.unity.meta
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
  Assets/StarterAssets/InputSystem/StarterAssets.inputactions
  Assets/StarterAssets/InputSystem/StarterAssetsInputs.cs
Labels: UI

#41 Magic enemy animations
  Assets/Prefabs/Enemy 1.prefab
  Assets/Prefabs/Enemy 1.prefab.meta
  Assets/Scripts/Movement.meta
  Assets/Scripts/Movement/IKMovement.cs
  Assets/Scripts/Movement/IKMovement.cs.meta
  Packages/manifest.json
  ProjectSettings/NavMeshAreas.asset
  UpgradeLog.htm
Labels: Player/Enemy

#39 Enemy spawn points base
  Assets/Prefabs/SpawnPoint.prefab
  Assets/Prefabs/SpawnPoint.prefab.meta
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Managers/SpawnManager.cs
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundEnemySpawns.unity
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundEnemySpawns.unity.meta
  ProjectSettings/TagManager.asset
Labels: Player/Enemy

#40 Add healthbar with text to PlayerUI.
  Assets/PlayerHealth.cs
  Assets/Scripts/Player.meta
  Assets/Scripts/Player/PlayerFollowCamera.cs
  Assets/Scripts/Player/PlayerFollowCamera.cs.meta
  Assets/Scripts/Player/PlayerHealth.cs
  Assets/Scripts/Player/PlayerHealth.cs.meta
  Assets/Scripts/Player/PlayerStats.cs
  Assets/Scripts/Player/PlayerStats.cs.meta
  Assets/StarterAssets/FirstPersonController/Prefabs/PlayerCapsule.prefab
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundHealthBar.unity
  Assets/StarterAssets/FirstPersonController/Scenes/PlaygroundHealthBar.unity.meta
Labels: UI, Player/Enemy

#56 Add sounds
  Assets/Prefabs/Enemy 1.prefab
  Assets/Scripts/Combat/FireWeapon.cs
  Assets/Scripts/Movement/IKMovement.cs
  Assets/Sounds.meta
  Assets/Sounds/Enemies.meta
  Assets/Sounds/Enemies/Spider.meta
  Assets/Sounds/Enemies/Spider/small_spider_amb.wav
  Assets/Sounds/Enemies/Spider/small_spider_amb.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step1.wav
  Assets/Sounds/Enemies/Spider/small_spider_step1.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step2.wav
  Assets/Sounds/Enemies/Spider/small_spider_step2.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step3.wav
  Assets/Sounds/Enemies/Spider/small_spider_step3.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step4.wav
  Assets/Sounds/Enemies/Spider/small_spider_step4.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step5.wav
  Assets/Sounds/Enemies/Spider/small_spider_step5.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_step6.wav
  Assets/Sounds/Enemies/Spider/small_spider_step6.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_walking.wav
  Assets/Sounds/Enemies/Spider/small_spider_walking.wav.meta
  Assets/Sounds/Enemies/Spider/small_spider_walking_cycle.wav
  Assets/Sounds/Enemies/Spider/small_spider_walking_cycle.wav.meta
  Assets/Sounds/Gun.meta
  Assets/Sounds/Gun/shot-impact.wav
  Assets/Sounds/Gun/shot-impact.wav.meta
  Assets/Sounds/Gun/shot-long.wav
  Assets/Sounds/Gun/shot-long.wav.meta
  Assets/Sounds/Player.meta
  Assets/Sounds/Player/player_ambiance.wav
  Assets/Sounds/Player/player_ambiance.wav.meta
  Assets/Sounds/Player/player_jump.wav
  Assets/Sounds/Player/player_jump.wav.meta
  Assets/Sounds/Player/player_land.wav
  Assets/Sounds/Player/player_land.wav.meta
  Assets/Sounds/Player/player_running.wav
  Assets/Sounds/Player/player_running.wav.meta
  Assets/Sounds/Player/player_walking.wav
  Assets/Sounds/Player/player_walking.wav.meta
  Assets/StarterAssets/FirstPersonController/Prefabs/PlayerCapsule.prefab
  Assets/StarterAssets/FirstPersonController/Scripts/FirstPersonController.cs
Labels: Player/Enemy

#51 Player death logic
  Assets/Prefabs/EndMenu.prefab
  Assets/Prefabs/EndMenu.prefab.meta
  Assets/Prefabs/Enemy.prefab
  Assets/Prefabs/Managers.prefab
  Assets/Prefabs/PauseMenu.prefab
  Assets/Prefabs/PauseMenu.prefab.meta
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Player/PlayerHealth.cs
  Assets/StarterAssets/InputSystem/StarterAssetsInputs.cs
Labels: UI, Player/Enemy
